.red{
 color: red;
}

#first-element{
background-color: yellow;    
}

.blue{
    color: blue:
}

#second-element{
    background-color:blanchedalmond
}

.green{
    color: green;
}

#third-element{
    background-color:hotpink;
}
